*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    
    }

   #logo { 
    height: 50px;
    width: 75px;
 } 
 #Titulo {
text-align: center;
padding: 2%;
 }
 header {
display:flex;
align-items: center;
justify-content: space-between;
padding: 1%;
background-color: burlywood;
 }
 #navbar{
    display:flex;
    gap: 32px; ;
 }
 h1 {
    font-family: 'Sacramento', cursive;

 }

 #photos {
    
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(5,1fr);
    gap: 16px;
    padding: 4%;
    
 }

 .fotos {
    height: 150px;
    border-radius: 12px;
    
   
 }